.form{
    width: 200px;
    margin: 0px auto;
}
.form_menu{
    display: flex;
    flex-direction: column;
}
.form_menu label{
    font-size: 18px;
    font-weight: 600;
}
.form_menu input{
    height: 40px;
    padding:0px 6px;
}